
ConsoleLooping/.vs/ConsoleLooping/DesignTimeBuild/.dtbcache.v2
ConsoleLooping/.vs/ConsoleLooping/v17/.suo
ConsoleLooping/.vs/ConsoleLooping/v17/.suo
ConsoleLooping/.vs/ConsoleLooping/v17/.suo
*.dll
*.pdb
